<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkM_CF1Eem4FvaiKjnUO5W3nLx5TBK-Js</string>
	<key>GCM_SENDER_ID</key>
	<string>512234092524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shay.idea-match</string>
	<key>PROJECT_ID</key>
	<string>ideamatch-19429</string>
	<key>STORAGE_BUCKET</key>
	<string>ideamatch-19429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512234092524:ios:c5fbebbff77e51ba0572c9</string>
</dict>
</plist>